In [21]:
import pandas as pd
import numpy as np

In [22]:
beer = pd.read_csv('../Resources/MLB_Beer_Prices.csv')
wins = pd.read_csv('../Resources/MLB_wins.csv')

In [23]:
beer.head()

,Year,Team,Nickname,City,Price,Size,Price_per_Ounce
0,2013,Arizona Diamondbacks,Diamondbacks,Arizona,4.00,14,0.29
1,2013,Atlanta Braves,Braves,Atlanta,7.25,16,0.45
2,2013,Baltimore Orioles,Orioles,Baltimore,6.75,18,0.38
3,2013,Boston Red Sox,Red Sox,Boston,7.25,12,0.60
4,2013,Chicago Cubs,Cubs,Chicago,7.25,16,0.45

In [24]:
wins.head()

   Year                  Team  Number_of_Games  Wins
0  2018  Arizona Diamondbacks              163    82
1  2016  Arizona Diamondbacks              162    69
2  2015  Arizona Diamondbacks              162    79
3  2014  Arizona Diamondbacks              162    64
4  2013  Arizona Diamondbacks              163    81

In [25]:
beer.dtypes

Year                   int64
Team                  object
Nickname              object
City                  object
 Price               float64
 Size                  int64
 Price_per_Ounce     float64
dtype: object

In [26]:
wins.dtypes

Year                int64
Team               object
Number_of_Games     int64
Wins                int64
dtype: object